/*style for the body backgrounds*/
body {
	background: url("bodyBackground.jpg");
}
/*================================================ direct templates ================================================*/
/*for text selections*/
::-moz-selection {
       background-color: #FFA;
       color: #000;
}

/* Works in Safari */
::selection {
       background-color: #FFA;
       color: #000;
}

/*================================================ direct templates ================================================*/


#circle
{
	width: 200px;
	height: 200px;
	background: url("csiprofilepic.png");
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	background-size: cover;

}